In [1]:
import sys

sys.path.append('../../code/')
import os
import json
from datetime import datetime
import time
from math import *

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

import igraph as ig

from collections import *

from load_data import load_citation_network_igraph, case_info

%load_ext autoreload
%autoreload 2
%matplotlib inline

data_dir = '../../data/'
court_name = 'scotus'

# %load ../standard_import.txt
from __future__ import division
import matplotlib as mpl

pd.set_option('display.notebook_repr_html', False)

%matplotlib inline
plt.style.use('seaborn-white')

# Definitions to manipulate the Tidy Dataframe

In [2]:
#takes in a df and randomly samples it so new df will include all present edges and an equal number of missing edges
def make_random_subset_df(df):
    time1 = time.time()
    #gets a dataframe of just present edges (df1)
    df1 = df[df['edge'] == 1]
    #gets a dataframe of just missing edges (df0)
    df0 = df[df['edge'] == 0]
    #determines the fraction of df0 that will equal len(df1)
    frac_val = len(df1)/len(df0)
    #randomly take a subset of df0
    df0_random_subset = df0.sample(frac=frac_val, replace=False)
    
    #combines df1 and df0 to make dataframe subset
    df_subset = df1.append(df0_random_subset, ignore_index=True)
    
    time2 = time.time()
    print "This took " + str(time2-time1) + " seconds"
    return df_subset

In [3]:
#adds cited indegree column to a df bsaed on graph G
def add_cited_indegree(df, G):
    time1 = time.time()
    #get column of indices to be used as references for the indegree list
    igraph_indices = df['cited_index']
    #get indegree list
    indegree = G.indegree()
    #adds the indegree value to the list in the index that corresponds to the dataframe
    new_column = []
    for i in range(0,len(igraph_indices)):
        new_column.append(indegree[igraph_indices[i]])
    #add that new column
    df['cited_indegree'] = new_column
    time2 = time.time()
    print "This took " + str(time2-time1) + " seconds"
    return df

In [12]:
def add_cited_pagerank(df, G):
    time1 = time.time()
    #get column of indices to be used as references for the indegree list
    igraph_indices = df['cited_index']
    #get pagerank list
    pagerank = G.pagerank()
    #adds the pagerank value to the list in the index that corresponds to the dataframe
    new_column = []
    for i in range(0,len(igraph_indices)):
        new_column.append(pagerank[igraph_indices[i]])
    #add that new column
    df['pagerank'] = new_column
    time2 = time.time()
    print "This took " + str(time2-time1) + " seconds"
    return df

# Load Graph and Tidy Dataframe

In [5]:
G = load_citation_network_igraph(data_dir, court_name)
print 'loaded %s network with %d cases and %d edges' % (court_name, len(G.vs), len(G.es))

0 seconds for 250465 edges
loaded scotus network with 33248 cases and 250465 edges

In [6]:
df = pd.read_csv('http://localhost:8888/notebooks/law-net/explore/James/1900_scotus_tidy.csv', index_col=0)

In [7]:
print df

          edge  citing_index  cited_index  citing_year  cited_year
0            0           467          469         1760        1759
1            0           470          469         1760        1759
2            0           471          470         1763        1760
3            0           471          467         1763        1760
4            0           471          469         1763        1759
5            0           271          471         1764        1763
6            0           271          470         1764        1760
7            0           271          467         1764        1760
8            0           271          469         1764        1759
9            0           472          471         1764        1763
10           0           472          470         1764        1760
11           0           472          467         1764        1760
12           0           472          469         1764        1759
13           0           473          471         1764        1763
14           0           473          470         1764        1760
15           0           473          467         1764        1760
16           0           473          469         1764        1759
17           0           520          473         1766        1764
18           0           520          472         1766        1764
19           0           520          271         1766        1764
20           0           520          471         1766        1763
21           0           520          470         1766        1760
22           0           520          467         1766        1760
23           0           520          469         1766        1759
24           0           238          520         1768        1766
25           0           238          473         1768        1764
26           0           238          472         1768        1764
27           0           238          271         1768        1764
28           0           238          471         1768        1763
29           0           238          470         1768        1760
...        ...           ...          ...          ...         ...
56008973     0         10675          117         1900        1782
56008974     0         10675          113         1900        1782
56008975     0         10675          522         1900        1781
56008976     0         10675          521         1900        1781
56008977     0         10675          510         1900        1781
56008978     0         10675          509         1900        1781
56008979     0         10675          484         1900        1781
56008980     0         10675          480         1900        1781
56008981     0         10675          263         1900        1781
56008982     0         10675          479         1900        1780
56008983     0         10675          478         1900        1780
56008984     0         10675          273         1900        1780
56008985     0         10675          477         1900        1778
56008986     0         10675          281         1900        1778
56008987     0         10675          278         1900        1778
56008988     0         10675          270         1900        1776
56008989     0         10675          476         1900        1773
56008990     0         10675          475         1900        1773
56008991     0         10675          259         1900        1773
56008992     0         10675          474         1900        1768
56008993     0         10675          253         1900        1768
56008994     0         10675          238         1900        1768
56008995     0         10675          520         1900        1766
56008996     0         10675          473         1900        1764
56008997     0         10675          472         1900        1764
56008998     0         10675          271         1900        1764
56008999     0         10675          471         1900        1763
56009000     0         10675          470         1900        1760
56009001     0         10675          467         1900        1760
56009002     0         10675          469         1900        1759

[56009003 rows x 5 columns]

# Manipulate Tidy Dataframe

__Make Subset Dataframe__

In [8]:
#create a subset from tidy df
subset_df = make_random_subset_df(df)
print subset_df

This took 8.6740000248 seconds
       edge  citing_index  cited_index  citing_year  cited_year
0         1           969          964         1817        1816
1         1           980          958         1817        1816
2         1           994          955         1817        1816
3         1            57          978         1818        1817
4         1          1004          955         1818        1816
5         1          1015          961         1818        1816
6         1          1020          966         1818        1817
7         1          1029          992         1818        1817
8         1          1033          955         1818        1816
9         1          1035          948         1819        1816
10        1          1039          161         1819        1816
11        1          1044         1003         1819        1817
12        1          1048          964         1819        1816
13        1          1051          949         1819        1816
14        1          1052          955         1819        1816
15        1          1054          934         1819        1816
16        1          1061          955         1820        1816
17        1          1062          927         1820        1816
18        1          1063          964         1820        1816
19        1          1064          342         1820        1817
20        1          1064          958         1820        1816
21        1          1081          926         1821        1816
22        1          1153          987         1823        1817
23        1          1153          973         1823        1817
24        1          1153          958         1823        1816
25        1          1153          161         1823        1816
26        1          1173          927         1824        1816
27        1          1315         1270         1828        1827
28        1          1317         1295         1828        1827
29        1          1317         1131         1828        1822
...     ...           ...          ...          ...         ...
51006     0          5205         3189         1877        1864
51007     0          5445         4643         1879        1876
51008     0          1814          913         1839        1815
51009     0          7168          181         1887        1851
51010     0          9407         6601         1895        1884
51011     0          4737          549         1876        1796
51012     0          4098          774         1873        1810
51013     0          1427          273         1830        1780
51014     0          3047         1556         1861        1833
51015     0          6882         3126         1885        1862
51016     0          4328         1959         1873        1843
51017     0          9182         7253         1894        1887
51018     0          5546         4735         1880        1876
51019     0          7800         7287         1889        1887
51020     0          2448          220         1853        1799
51021     0          1477          629         1831        1803
51022     0         10158         7275         1898        1887
51023     0          7715          954         1888        1816
51024     0         10474         6580         1900        1884
51025     0          7462         5947         1888        1882
51026     0         10052         4575         1897        1875
51027     0          3928         2009         1871        1845
51028     0          5437         5178         1879        1878
51029     0          5807         5108         1881        1878
51030     0         10263         9890         1899        1897
51031     0          4436         1500         1874        1832
51032     0          5491           86         1880        1792
51033     0          6976         1914         1886        1842
51034     0          4356         1350         1874        1828
51035     0           354          847         1827        1813

[51036 rows x 5 columns]

__Add Indegree Column__

In [9]:
subset_df_indegree = add_cited_indegree(subset_df, G)

This took 0.604000091553 seconds

In [10]:
print subset_df_indegree

       edge  citing_index  cited_index  citing_year  cited_year  \
0         1           969          964         1817        1816
1         1           980          958         1817        1816
2         1           994          955         1817        1816
3         1            57          978         1818        1817
4         1          1004          955         1818        1816
5         1          1015          961         1818        1816
6         1          1020          966         1818        1817
7         1          1029          992         1818        1817
8         1          1033          955         1818        1816
9         1          1035          948         1819        1816
10        1          1039          161         1819        1816
11        1          1044         1003         1819        1817
12        1          1048          964         1819        1816
13        1          1051          949         1819        1816
14        1          1052          955         1819        1816
15        1          1054          934         1819        1816
16        1          1061          955         1820        1816
17        1          1062          927         1820        1816
18        1          1063          964         1820        1816
19        1          1064          342         1820        1817
20        1          1064          958         1820        1816
21        1          1081          926         1821        1816
22        1          1153          987         1823        1817
23        1          1153          973         1823        1817
24        1          1153          958         1823        1816
25        1          1153          161         1823        1816
26        1          1173          927         1824        1816
27        1          1315         1270         1828        1827
28        1          1317         1295         1828        1827
29        1          1317         1131         1828        1822
...     ...           ...          ...          ...         ...
51006     0          5205         3189         1877        1864
51007     0          5445         4643         1879        1876
51008     0          1814          913         1839        1815
51009     0          7168          181         1887        1851
51010     0          9407         6601         1895        1884
51011     0          4737          549         1876        1796
51012     0          4098          774         1873        1810
51013     0          1427          273         1830        1780
51014     0          3047         1556         1861        1833
51015     0          6882         3126         1885        1862
51016     0          4328         1959         1873        1843
51017     0          9182         7253         1894        1887
51018     0          5546         4735         1880        1876
51019     0          7800         7287         1889        1887
51020     0          2448          220         1853        1799
51021     0          1477          629         1831        1803
51022     0         10158         7275         1898        1887
51023     0          7715          954         1888        1816
51024     0         10474         6580         1900        1884
51025     0          7462         5947         1888        1882
51026     0         10052         4575         1897        1875
51027     0          3928         2009         1871        1845
51028     0          5437         5178         1879        1878
51029     0          5807         5108         1881        1878
51030     0         10263         9890         1899        1897
51031     0          4436         1500         1874        1832
51032     0          5491           86         1880        1792
51033     0          6976         1914         1886        1842
51034     0          4356         1350         1874        1828
51035     0           354          847         1827        1813

       cited_indegree
0                  20
1                  13
2                  14
3                   7
4                  14
5                   0
6                  43
7                   0
8                  14
9                   9
10                  9
11                  0
12                 20
13                  5
14                 14
15                  9
16                 14
17                  4
18                 20
19                  2
20                 13
21                 10
22                  0
23                 28
24                 13
25                  9
26                  4
27                  5
28                  0
29                 44
...               ...
51006              42
51007              16
51008               2
51009               2
51010               1
51011               0
51012               1
51013              27
51014              30
51015               2
51016               0
51017               5
51018               4
51019               2
51020               5
51021               3
51022              14
51023              16
51024               0
51025              10
51026               1
51027               1
51028               2
51029              12
51030               1
51031               0
51032               6
51033               3
51034               4
51035               2

[51036 rows x 6 columns]

__Add Pagerank Column__

In [13]:
subset_df_indegree_pagerank = add_cited_pagerank(subset_df_indegree, G)

This took 0.883000135422 seconds

In [14]:
print subset_df_indegree_pagerank

       edge  citing_index  cited_index  citing_year  cited_year  \
0         1           969          964         1817        1816
1         1           980          958         1817        1816
2         1           994          955         1817        1816
3         1            57          978         1818        1817
4         1          1004          955         1818        1816
5         1          1015          961         1818        1816
6         1          1020          966         1818        1817
7         1          1029          992         1818        1817
8         1          1033          955         1818        1816
9         1          1035          948         1819        1816
10        1          1039          161         1819        1816
11        1          1044         1003         1819        1817
12        1          1048          964         1819        1816
13        1          1051          949         1819        1816
14        1          1052          955         1819        1816
15        1          1054          934         1819        1816
16        1          1061          955         1820        1816
17        1          1062          927         1820        1816
18        1          1063          964         1820        1816
19        1          1064          342         1820        1817
20        1          1064          958         1820        1816
21        1          1081          926         1821        1816
22        1          1153          987         1823        1817
23        1          1153          973         1823        1817
24        1          1153          958         1823        1816
25        1          1153          161         1823        1816
26        1          1173          927         1824        1816
27        1          1315         1270         1828        1827
28        1          1317         1295         1828        1827
29        1          1317         1131         1828        1822
...     ...           ...          ...          ...         ...
51006     0          5205         3189         1877        1864
51007     0          5445         4643         1879        1876
51008     0          1814          913         1839        1815
51009     0          7168          181         1887        1851
51010     0          9407         6601         1895        1884
51011     0          4737          549         1876        1796
51012     0          4098          774         1873        1810
51013     0          1427          273         1830        1780
51014     0          3047         1556         1861        1833
51015     0          6882         3126         1885        1862
51016     0          4328         1959         1873        1843
51017     0          9182         7253         1894        1887
51018     0          5546         4735         1880        1876
51019     0          7800         7287         1889        1887
51020     0          2448          220         1853        1799
51021     0          1477          629         1831        1803
51022     0         10158         7275         1898        1887
51023     0          7715          954         1888        1816
51024     0         10474         6580         1900        1884
51025     0          7462         5947         1888        1882
51026     0         10052         4575         1897        1875
51027     0          3928         2009         1871        1845
51028     0          5437         5178         1879        1878
51029     0          5807         5108         1881        1878
51030     0         10263         9890         1899        1897
51031     0          4436         1500         1874        1832
51032     0          5491           86         1880        1792
51033     0          6976         1914         1886        1842
51034     0          4356         1350         1874        1828
51035     0           354          847         1827        1813

       cited_indegree  pagerank
0                  20  0.000044
1                  13  0.000023
2                  14  0.000030
3                   7  0.000020
4                  14  0.000030
5                   0  0.000010
6                  43  0.000165
7                   0  0.000010
8                  14  0.000030
9                   9  0.000036
10                  9  0.000037
11                  0  0.000010
12                 20  0.000044
13                  5  0.000019
14                 14  0.000030
15                  9  0.000025
16                 14  0.000030
17                  4  0.000024
18                 20  0.000044
19                  2  0.000011
20                 13  0.000023
21                 10  0.000047
22                  0  0.000010
23                 28  0.000042
24                 13  0.000023
25                  9  0.000037
26                  4  0.000024
27                  5  0.000017
28                  0  0.000010
29                 44  0.000071
...               ...       ...
51006              42  0.000121
51007              16  0.000034
51008               2  0.000013
51009               2  0.000020
51010               1  0.000012
51011               0  0.000010
51012               1  0.000013
51013              27  0.000085
51014              30  0.000053
51015               2  0.000012
51016               0  0.000010
51017               5  0.000021
51018               4  0.000017
51019               2  0.000012
51020               5  0.000025
51021               3  0.000018
51022              14  0.000037
51023              16  0.000041
51024               0  0.000010
51025              10  0.000023
51026               1  0.000012
51027               1  0.000018
51028               2  0.000012
51029              12  0.000030
51030               1  0.000013
51031               0  0.000010
51032               6  0.000023
51033               3  0.000014
51034               4  0.000026
51035               2  0.000012

[51036 rows x 7 columns]